body
background-image: url()

form {
  width: 300px;
  padding: 20px;
  border: 1px solid #5e0909;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #c72222;
  box-sizing: border-box; 
}

button {
  background-color: #007bff;
  color: rgb(101, 48, 48);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}
 
form {
  width: 300px;
  padding: 20px;
  border: 1px solid #680404;
  margin: 0 auto; 
}

body {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
  margin: 0;
}